// Copy this file to wifi_config.h and fill in your values
#define WIFI_SSID     "WE_A93DAC"
#define WIFI_PASSWORD "n9v63421"


//#define WIFI_SSID     "RA"
//#define WIFI_PASSWORD "00000000"


#define SERVER_HOST   "exir-healthcare.up.railway.app"

